@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 :root {
    --text-color: white;
   /* --bg-url: url(./assets/bg-mobile.jpg);*/
    --bg-color: linear-gradient(173deg, #1e358f 0%, rgba(94, 35, 163, 0.83) 9.83%, rgba(125, 37, 153, 0.67) 19.67%, rgba(149, 39, 148, 0.5) 29.5%, rgba(171, 41, 143, 0.33) 39.33%, rgba(217, 46, 116, 0) 59%), radial-gradient(100% 61.5% at 16% 100%, #fdd575 0%, #f3ad2e 25%, #e08624 50%, #c31313 100%);
    --strooke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.1);
    --switch-bg-url: url(./assets/moon-stars.svg);
 }

 .light {
    --text-color: black; 
    /*--bg-url: url(./assets/bg-mobile-light.jpg); */ 
    --bg-color: linear-gradient(221deg, #ebf4ff 21%, rgba(221, 229, 255, 0.89) 25.44%, rgba(216, 212, 255, 0.78) 29.89%, rgba(221, 190, 255, 0.67) 34.33%, rgba(238, 162, 255, 0.56) 38.78%, rgba(255, 131, 242, 0.44) 43.22%, rgba(255, 111, 210, 0.33) 47.67%, rgba(255, 87, 175, 0.22) 52.11%, rgba(255, 0, 0, 0) 61%), radial-gradient(100% 100% at 0% 100%, #fff2e5 0%, #feeadd 14.29%, #fde1d8 28.57%, #fcd9d5 42.86%, #fad0d3 57.14%, #f7c7d3 71.43%, #f1b6d7 100%), linear-gradient(163deg, #4964da 0%, rgba(146, 73, 221, 0.8) 11.8%, rgba(176, 60, 196, 0.6) 23.6%, rgba(192, 55, 173, 0.4) 35.4%, rgba(217, 46, 116, 0) 59%);
    --strooke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/sun.svg);
 }

body {
    /*background: var(--bg-url) no-repeat top center/cover;*/
    background: var(--bg-color);
    height: 100vh;
    
}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

#container {
    width: 100%;
    max-width: 580px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

/*profile*/

#profile {
    text-align: center;
    padding: 24px;
}
#profile img {
    width: 112px;
    /*margin: auto;
    display: block;*/
}

#profile p {
    font-weight: 500;
    line-height: 24px;
}
/*Switsh*/

#switch {
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#switch button {
    width: 32px;
    height: 32px;
    background: #ffffff var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    animation: slide-back 0.2s;
}
.light #switch button {
   animation: slide-in 0.4s forwards;
}

#switch button:hover {
    outline: 8px solid var(--highlight-color);
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--strooke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}



/* LINKS */

ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 16px;
    
    padding: 24px 0;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;

    background: var(--surface-color);
    border: 1px solid var(--strooke-color);
    border-radius: 8px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: background .2s;
}

ul li a:hover {
    background: var(--surface-color-hover);
    border: 1px solid var(--text-color);
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;

    transition: background 0.2s;
    border-radius: 50%;
}

#social-links {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 32px 0;
    font-size: 24px;
}

#social-links a:hover {
    background-color: var(--highlight-color);
    
}

footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}

@media (min-width: 700px) {
    :root {
        --bg-url: url(./assets/bg-desktop.jpg);
     }
     .light {
       --bg-url: url(./assets/bg-desktop-light.jpg);
     }
    
}

/* Animação */

@keyframes slide-in {
    from {
        left:0;
    }
    to {
        left:50%
    }
}
@keyframes slide-back {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}
